/*
    Css for login.html file
 */
body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #150DE9E0 0%, #66717B 100%) 0% 0% no-repeat padding-box;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
}

.login-container {
    width: 50%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 0.88;
}

button {
    border: none;
    color: white;
    margin: 1em;
    width: 40%;
    line-height: 2em;
    height: 6vh;
    background: #5558AA 0% 0% no-repeat padding-box;
    border-radius: 26px;
    opacity: 0.88;
}

input {
    background-color: transparent;
    border: none;
    padding: 1em;
    margin: 1em;
    width: 50%;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    border-bottom: 1px solid #707070;
}

.registration-link {
    text-align: left;
    font: normal normal normal 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
    }

    form {
        margin: auto;
        height: 35vh;
    }

    img {
        height: 7em;
        margin: 2em;
    }
}
/*
    Css for registration.html file
 */

.registration-container {
    width: 50%;
}

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 0.88;

}
/*
    TODO: solve the problem with inline alignment of checkbox and text
 */
.checkbox {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    column-gap: inherit;
}

button {
    border: none;
    color: white;
    margin: 1em;
    width: 40%;
    line-height: 2em;
    height: 6vh;
    background: #5558AA 0% 0% no-repeat padding-box;
    border-radius: 26px;
    opacity: 0.88;
}

input {
    background-color: transparent;
    border: none;
    padding: 1em;
    margin: 1em;
    width: 50%;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    border-bottom: 1px solid #707070;
}

/*
    TODO: solve the problem with scalability for mobile
 */

.dashboard-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav {
    width: 20vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #332EDE 0%, #66717B 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    width: 80vw;
}

nav > img {
    width: 80%;
    margin: 2em auto;
}

.dashboard-menu a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li i {
    font-size: 1.5em;
}

.button {
    border: 1px solid #FFFFFF;
    border-radius: 1em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: white;
    padding: 0.2rem;
    width: 60%;
}

ul {
    list-style-type: none;
    color: white;
    font: normal normal normal 20px/27px Segoe UI;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 40px);
    position: relative;
    letter-spacing: 0.72px;
}

li {
    text-align: left;
    margin-bottom: 1em;
}

.fa,
.fas {
    font-size: 1.5em;
    width: 1em;
}

/*
 TODO: inline columns in navigation menu
 */

.dashboard-menu .fa,
.dashboard-menu .fas {
    width: 1em;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
}

.add-relatives {
    border: 1px solid #707070;
    border-radius: 1.5em;
    letter-spacing: 0.1em;
    text-align: left;
    justify-content: center;
    font: normal normal normal 20px/27px Segoe UI;
    color: #FFFFFF;
    background: #4849B7 0% 0% no-repeat padding-box;
    width: 35%;
    height: 8vh;
}

.add-relatives>i {
    padding: 1em;
}

.search-bar {
    width: 70%;
}

.search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    background: #EAEBF3 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 27px;
    width: 80%;
    font: normal normal normal 20px/27px Segoe UI;
    text-align: center;
    letter-spacing: 0.72px;
    color: #707070;
    margin: 0;
    box-sizing: border-box;
    height: 3em;
}

.search-icon {
    position: absolute;
    left: 1em;
}