--
-- PostgreSQL database dump
--

-- Dumped from database version 16.0 (Debian 16.0-1.pgdg120+1)
-- Dumped by pg_dump version 16.0 (Debian 16.0-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE ONLY public.visit DROP CONSTRAINT "true";
ALTER TABLE ONLY public.visit DROP CONSTRAINT fk_user;
ALTER TABLE ONLY public.dead DROP CONSTRAINT fk_grave;
ALTER TABLE ONLY public.grave DROP CONSTRAINT fk_cemetery;
ALTER TABLE ONLY public."user" DROP CONSTRAINT user_pkey;
ALTER TABLE ONLY public.grave DROP CONSTRAINT grave_pkey;
ALTER TABLE ONLY public.dead DROP CONSTRAINT dead_pkey;
ALTER TABLE ONLY public.databasechangeloglock DROP CONSTRAINT databasechangeloglock_pkey;
ALTER TABLE ONLY public.visit DROP CONSTRAINT cpk_visit;
ALTER TABLE ONLY public.cemetery DROP CONSTRAINT cemetery_pkey;
DROP TABLE public.visit;
DROP TABLE public."user";
DROP TABLE public.grave;
DROP TABLE public.dead;
DROP TABLE public.databasechangeloglock;
DROP TABLE public.databasechangelog;
DROP TABLE public.cemetery;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cemetery; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cemetery (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    street character varying(100) NOT NULL,
    city character varying(100) NOT NULL,
    postal_code character varying(6) NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.cemetery OWNER TO postgres;

--
-- Name: cemetery_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cemetery ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cemetery_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: databasechangelog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.databasechangelog (
    id character varying(255) NOT NULL,
    author character varying(255) NOT NULL,
    filename character varying(255) NOT NULL,
    dateexecuted timestamp without time zone NOT NULL,
    orderexecuted integer NOT NULL,
    exectype character varying(10) NOT NULL,
    md5sum character varying(35),
    description character varying(255),
    comments character varying(255),
    tag character varying(255),
    liquibase character varying(20),
    contexts character varying(255),
    labels character varying(255),
    deployment_id character varying(10)
);


ALTER TABLE public.databasechangelog OWNER TO postgres;

--
-- Name: databasechangeloglock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.databasechangeloglock (
    id integer NOT NULL,
    locked boolean NOT NULL,
    lockgranted timestamp without time zone,
    lockedby character varying(255)
);


ALTER TABLE public.databasechangeloglock OWNER TO postgres;

--
-- Name: dead; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dead (
    id integer NOT NULL,
    first_name character varying(48) NOT NULL,
    last_name character varying(48) NOT NULL,
    death_date date NOT NULL,
    birth_date date NOT NULL,
    age integer NOT NULL,
    grave_id integer NOT NULL,
    created_at timestamp without time zone NOT NULL,
    image bytea,
    location character varying(48)
);


ALTER TABLE public.dead OWNER TO postgres;

--
-- Name: dead_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.dead ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dead_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: grave; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.grave (
    id integer NOT NULL,
    size integer NOT NULL,
    longitude numeric NOT NULL,
    latitude numeric NOT NULL,
    cemetery_id integer NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.grave OWNER TO postgres;

--
-- Name: grave_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.grave ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.grave_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    first_name character varying(48) NOT NULL,
    last_name character varying(48) NOT NULL,
    email_address character varying(48) NOT NULL,
    password character varying(255) NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."user" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: visit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.visit (
    user_id integer NOT NULL,
    dead_id integer NOT NULL,
    visit_date date NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.visit OWNER TO postgres;

--
-- Data for Name: cemetery; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cemetery (id, name, street, city, postal_code, created_at) FROM stdin;
1	Cmentarz Parafialny w Cmolasie	Marsza┼ékowska	Cmolas	36-105	2024-02-02 18:28:15.552289
\.


--
-- Data for Name: databasechangelog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: databasechangeloglock; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.databasechangeloglock (id, locked, lockgranted, lockedby) FROM stdin;
1	f	\N	\N
\.


--
-- Data for Name: dead; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: grave; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.grave (id, size, longitude, latitude, cemetery_id, created_at) FROM stdin;
1	100	123456	654321	1	2024-02-02 18:28:15.58158
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."user" (id, first_name, last_name, email_address, password, created_at) FROM stdin;
1	Jan	Kowalski	kowalski99@gmail.com	$2a$10$CiXtRHsESwRISmgwYwqq3uChuYD68gXymaEgfnru/tqcc8TlSO4Nq	2024-02-02 17:33:30.248508
\.


--
-- Data for Name: visit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.visit (user_id, dead_id, visit_date, created_at) FROM stdin;
1	1	2024-02-02	2024-02-02 17:49:04.707279
\.


--
-- Name: cemetery_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cemetery_id_seq', 1, true);


--
-- Name: dead_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dead_id_seq', 1, true);


--
-- Name: grave_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.grave_id_seq', 1, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_id_seq', 1, true);


--
-- Name: cemetery cemetery_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cemetery
    ADD CONSTRAINT cemetery_pkey PRIMARY KEY (id);


--
-- Name: visit cpk_visit; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visit
    ADD CONSTRAINT cpk_visit PRIMARY KEY (user_id, dead_id);


--
-- Name: databasechangeloglock databasechangeloglock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.databasechangeloglock
    ADD CONSTRAINT databasechangeloglock_pkey PRIMARY KEY (id);


--
-- Name: dead dead_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dead
    ADD CONSTRAINT dead_pkey PRIMARY KEY (id);


--
-- Name: grave grave_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grave
    ADD CONSTRAINT grave_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: grave fk_cemetery; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grave
    ADD CONSTRAINT fk_cemetery FOREIGN KEY (cemetery_id) REFERENCES public.cemetery(id);


--
-- Name: dead fk_grave; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dead
    ADD CONSTRAINT fk_grave FOREIGN KEY (grave_id) REFERENCES public.grave(id);


--
-- Name: visit fk_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visit
    ADD CONSTRAINT fk_user FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- Name: visit true; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.visit
    ADD CONSTRAINT "true" FOREIGN KEY (dead_id) REFERENCES public.dead(id);


--
-- PostgreSQL database dump complete
--

